.app__root {
  width: 100%;
  display: flex;
  min-height: 100vh;
  background-color: ghostwhite;
}

.app__todo {
  width: 100%;
  padding: 1.5rem;
}

@media screen and (min-width: 422px) {
  .app__root {
    justify-content: center;
  }
  .app__todo {
    width: 60%;
  }
}

@media screen and (min-width: 684px) {
  .app__todo {
    width: 50%;
  }
}

@media screen and (min-width: 822px) {
  .app__todo {
    width: 40%;
  }
}
